#title{
  font-family: 'Times New Roman', 'Times', 'serif';
  color: darkgray;
  text-align: center;
  font-size: 45px;
  text-shadow: 3px 3px 3px  black;
}
body{
  background-color: white;
}
img{
  margin: 2px;
  width: 200px;
}

td{
  border-collapse: collapse;
}
.row > div{

  box-shadow: 3px 3px 2px 0px black;
  background-color: white;
  border:5px solid gray;
}

footer{
  background-color: lightgray;
  height: 180px;
  border-top: 1px solid darkgray;
}
