#title{
  font-family: 'Times New Roman', 'Times', 'serif';
  color: darkgray;
  text-align: center;
  text-shadow: left;
  font-size: 45px;
  text-shadow: 3px 3px 3px  black;
}
body{
  background-color: lightgray;
}
img{
  margin: 20px;
  width: 400px;
}

td{
  border-collapse: collapse;
}
.printer{

  box-shadow: 10px 10px 10px 0px black;
  background-color: white;
  width: 94%;
  height: auto;
  margin: 30px;
  border-radius: 7px;
  border:5px solid gray;
  font-size: 25px;
}
